.layout {
    width: 100%;
    padding: 1rem;
}

.layout > h1 {
    width: 100%;
    padding: 0.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: midnightblue;
    text-shadow: 0.2rem 0.2rem 0.2rem lightblue;
}

.outlet {
    width: 100%;
}